* {
    box-sizing: border-box;
}
body {
    background: #010202;
    font-family: 'Source Sans Pro', sans-serif;
}
a {
    text-decoration: none;
}
.header {
    width: 90%;
    max-width: 1146px;
    margin: auto;
    padding: 56px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo {
    display: block;
}
.user-photo {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
.user {
    display: flex;
    align-items: center;
}
.user-name {
    color: #fff;
    font-size: 16px;
    line-height: 20px;
    margin-right: 15px;                                                
}
.app {
    background: linear-gradient(90deg, #010202 0%, #010202 43%, rgba(1, 2, 2, 0.2) 80%);
    min-height: 100vh;
    color: white;
}

.film {
    width: 90%;
    max-width: 1146px;
    margin: auto;
    padding: 7% 0;
}
.description {
    max-width: 460px;
    font-size: 21px;
    line-height: 140%;
    color: #FFFFFF;
    margin-bottom: 36px;
}
.tags {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    opacity: 0.4;
    color: #E5E5E5;
    font-size: 16px;
    line-height: 140%;
    flex-wrap: wrap;
}
.tags > * {
    margin-right: 15px;
    margin-bottom: 10px;
}
.age {
    border: 1px solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 2px;
    padding: 1px 5px;
}
.button {
    position: relative;
    padding: 15px 26px;
    border-radius: 6px;
    border: none;
    font-size: 16px;
    line-height: 140%;
    background: #2F2F2F;
    color: white;
    cursor: pointer;
    overflow: hidden;
}
.button-primary {
    background: #EA6E20;
    margin-right: 15px;
}
.button-text {
    margin-left: 10px;
    vertical-align: text-bottom;
}
.button:after {
    content: "";
    height: 200%;
    left: -230%;
    opacity: 0;
    position: absolute;
    top: -20%;
    transform: rotate(-30deg);
    width: 445%;
    background: rgba(255, 255, 255, 0.13);
    background: linear-gradient(to right, rgba(255, 255, 255, 0.13) 0%, rgba(255, 255, 255, 0.13) 77%, rgba(255, 255, 255, 0.5) 92%, rgba(255, 255, 255, 0.0) 100%);
}
  
.button:hover:after {
    left: -50%;
    opacity: 1;
    top: -50%;
    transition-duration: 0.7s, 0.7s, 0.15s;
    transition-property: left, top, opacity;
    transition-timing-function: ease;
}
  
.button:active:after {
    opacity: 0;
}
a {
    color: white;
    text-decoration: none;
}

.modal {
    display: none;
    width: 400px;
}

.modal_thanks {
    display: none;
    width: 400px;
}

.modal-title {
    text-align: center;
    color: #2F2F2F;
}

.modal-button {
    width: 100%;
    margin-top: 10px;
    font-size: 20px;
}

.modal-input {
    display: block;
    width: 100%;
    padding: 10px;
    font-size: 18px;
    margin-bottom: 10px;
}

@media (max-width: 768px) {
    .app {
        height: auto;
        padding-bottom: 400px;
        background: url('../img/cover-image.jpg') no-repeat bottom center / 400px;
    }
    video {
        display: none;
    }
    .film {
        padding-top: 2%;
    }
    .description {
        font-size: 16px;
        max-width: 333px;
    }
    .film-logo {
        max-width: 100%;
    }
}
@media (max-width: 576px) {
    .button-text {
        display: none;
    }
    .user-name {
        display: none;
    }
    .app {
        padding-bottom: 350px;
        background-size: 300px;
    }
    .button {
        margin-bottom: 10px;
    }
}
